.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}
.content {
  min-width: max(50%, 350px);
  height: 50%;
  background-color: azure;
  border-radius: 16px;
  padding: 16px;
}

.quiz-block {
  position: relative;
}

.timer {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn {
  margin-right: 24px;
}

.quiz-ans-item {
  padding-left: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}

.quiz-ans-item:has(.ans-true)::before {
  content: "✔️";
  filter: brightness(0) saturate(100%) invert(23%) sepia(80%) saturate(6503%)
    hue-rotate(221deg) brightness(92%) contrast(108%);
  font-size: 13px;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}

.quiz-ans-item:has(.ans-false)::before {
  content: "✖️";
  filter: brightness(0) saturate(100%) invert(28%) sepia(78%) saturate(7087%)
    hue-rotate(9deg) brightness(100%) contrast(99%);
  font-size: 13px;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}
